appdirs==1.4.4
asgiref==3.2.8
autopep8==1.5.6
backcall==0.2.0
colorama==0.4.4
coverage==5.5
decorator==5.0.7
distlib==0.3.1
dj-database-url==0.5.0
Django==3.0.7
django-cors-headers==3.7.0
django-heroku==0.3.1
django-rest-auth==0.9.5
djangorestframework==3.12.4
djangorestframework-simplejwt==4.6.0
filelock==3.0.12
future==0.18.2
gunicorn==20.1.0
ipython==7.23.0
ipython-genutils==0.2.0
jedi==0.18.0
matplotlib-inline==0.1.2
parso==0.8.2
pickleshare==0.7.5
Pillow==8.2.0
prompt-toolkit==3.0.18
psycopg2==2.8.6
pycodestyle==2.7.0
Pygments==2.8.1
PyJWT==2.1.0
pytz==2021.1
serializers==0.2.4
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
traitlets==5.0.5
virtualenv==20.4.3
virtualenvwrapper-win==1.2.6
wcwidth==0.2.5
whitenoise==5.2.0
